In [2]:
import pandas as pd #! Data Processing
import numpy as np #! linear algebra
import matplotlib.pyplot as plt #! Data visualization
import seaborn as sns #! Advance plots

### **Data Loading**

In [3]:
load_data = pd.read_csv("../Data/raw/student_exam_scores.csv", na_values='-') #! Data Loading

In [4]:
df = load_data.copy() #! Copy the data into new variable

In [5]:
df.head() #! Analyse the table

,student_id,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
0,S001,8.0,8.8,72.1,45,30.2
1,S002,1.3,8.6,60.7,55,25.0
2,S003,4.0,8.2,73.7,86,35.8
3,S004,3.5,4.8,95.1,66,34.0
4,S005,9.1,6.4,89.8,71,40.3

In [6]:
df.columns

Index(['student_id', 'hours_studied', 'sleep_hours', 'attendance_percent',
       'previous_scores', 'exam_score'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   student_id          200 non-null    object
 1   hours_studied       200 non-null    float64
 2   sleep_hours         200 non-null    float64
 3   attendance_percent  200 non-null    float64
 4   previous_scores     200 non-null    int64
 5   exam_score          200 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 9.5+ KB

In [8]:
df.describe()

,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,6.325500,6.622000,74.830000,66.800000,33.955000
std,3.227317,1.497138,14.249905,15.663869,6.789548
min,1.000000,4.000000,50.300000,40.000000,17.100000
25%,3.500000,5.300000,62.200000,54.000000,29.500000
50%,6.150000,6.700000,75.250000,67.500000,34.050000
75%,9.000000,8.025000,87.425000,80.000000,38.750000
max,12.000000,9.000000,100.000000,95.000000,51.300000

In [9]:
df["student_id"].value_counts()

student_id
S001    1
S002    1
S003    1
S004    1
S005    1
       ..
S196    1
S197    1
S198    1
S199    1
S200    1
Name: count, Length: 200, dtype: int64

In [10]:
df.drop(columns=["student_id"], inplace=True)

In [11]:
df.index.name = 'index'
df.head()

,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
index,,,,,
0,8.0,8.8,72.1,45,30.2
1,1.3,8.6,60.7,55,25.0
2,4.0,8.2,73.7,86,35.8
3,3.5,4.8,95.1,66,34.0
4,9.1,6.4,89.8,71,40.3

In [12]:
# df.to_csv("../Data/processed/processed_v0.0.1.csv", index=False)

In [13]:
basic_info = {
    "shape": df.shape,
    "columns": df.columns.tolist(),
    "missing_values": df.isnull().sum().to_dict(),
    "duplicates": df.duplicated().sum(),
    "dtypes": df.dtypes.astype(str).to_dict(),
    "sample_data": df.head(5).to_dict(),
}

basic_info

{'shape': (200, 5),
 'columns': ['hours_studied',
  'sleep_hours',
  'attendance_percent',
  'previous_scores',
  'exam_score'],
 'missing_values': {'hours_studied': 0,
  'sleep_hours': 0,
  'attendance_percent': 0,
  'previous_scores': 0,
  'exam_score': 0},
 'duplicates': np.int64(0),
 'dtypes': {'hours_studied': 'float64',
  'sleep_hours': 'float64',
  'attendance_percent': 'float64',
  'previous_scores': 'int64',
  'exam_score': 'float64'},
 'sample_data': {'hours_studied': {0: 8.0, 1: 1.3, 2: 4.0, 3: 3.5, 4: 9.1},
  'sleep_hours': {0: 8.8, 1: 8.6, 2: 8.2, 3: 4.8, 4: 6.4},
  'attendance_percent': {0: 72.1, 1: 60.7, 2: 73.7, 3: 95.1, 4: 89.8},
  'previous_scores': {0: 45, 1: 55, 2: 86, 3: 66, 4: 71},
  'exam_score': {0: 30.2, 1: 25.0, 2: 35.8, 3: 34.0, 4: 40.3}}}

In [15]:
# Handle missing values

df.fillna(df.mean(), inplace=True)

In [17]:
#! Outlier detection (IQR method)
for col in df.select_dtypes("number").columns:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)

    IQR = q3 - q1
    df = df[(df[col] >= q1 - (1.5 * IQR)) & (df[col] <= q3 + (1.5 * IQR))]

In [19]:
df.head()

,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
index,,,,,
0,8.0,8.8,72.1,45,30.2
1,1.3,8.6,60.7,55,25.0
2,4.0,8.2,73.7,86,35.8
3,3.5,4.8,95.1,66,34.0
4,9.1,6.4,89.8,71,40.3

In [18]:
df.to_csv("../Data/processed/processed_v0.0.2.csv", index=False)