In [2]:
import pandas as pd #! Data Processing
import numpy as np #! linear algebra
import matplotlib.pyplot as plt #! Data visualization
import seaborn as sns #! Advance plots

### **Data Loading**

In [15]:
load_data = pd.read_csv("../Data/raw/student_exam_scores.csv", na_values='-') #! Data Loading

In [4]:
df = load_data.copy() #! Copy the data into new variable

In [ ]:
df.head() #! Analyse the table

In [ ]:
df.columns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   student_id          200 non-null    object
 1   hours_studied       200 non-null    float64
 2   sleep_hours         200 non-null    float64
 3   attendance_percent  200 non-null    float64
 4   previous_scores     200 non-null    int64
 5   exam_score          200 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 9.5+ KB

In [ ]:
df.describe()

In [ ]:
df["student_id"].value_counts()

In [7]:
df.drop(columns=["student_id"], inplace=True)

In [11]:
df.index.name = 'index'
df.head()

,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
index,,,,,
0,8.0,8.8,72.1,45,30.2
1,1.3,8.6,60.7,55,25.0
2,4.0,8.2,73.7,86,35.8
3,3.5,4.8,95.1,66,34.0
4,9.1,6.4,89.8,71,40.3

In [ ]:
# df.to_csv("../Data/processed/processed_v0.0.1.csv", index=False)

In [ ]:
basic_info = {
    "shape": df.shape,
    "columns": df.columns.tolist(),
    "missing_values": df.isnull().sum().to_dict(),
    "duplicates": df.duplicated().sum(),
    "dtypes": df.dtypes.astype(str).to_dict(),
    "sample_data": df.head(5).to_dict(),
}

basic_info