<div align='center'>

## Exploratory Data Analysis (EDA)

</div>

In [2]:
import pandas as pd

#### Load Dataset

In [3]:
load_data = pd.read_csv("../Data/processed/processed_v0.0.1.csv", index_col=False)

In [4]:
df = load_data.copy()

In [5]:
df.drop_duplicates(inplace=True, ignore_index=True)

#### Inspect shape and info

In [6]:
df.shape

(200, 5)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   hours_studied       200 non-null    float64
 1   sleep_hours         200 non-null    float64
 2   attendance_percent  200 non-null    float64
 3   previous_scores     200 non-null    int64
 4   exam_score          200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [8]:
df.describe()

,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,6.325500,6.622000,74.830000,66.800000,33.955000
std,3.227317,1.497138,14.249905,15.663869,6.789548
min,1.000000,4.000000,50.300000,40.000000,17.100000
25%,3.500000,5.300000,62.200000,54.000000,29.500000
50%,6.150000,6.700000,75.250000,67.500000,34.050000
75%,9.000000,8.025000,87.425000,80.000000,38.750000
max,12.000000,9.000000,100.000000,95.000000,51.300000

#### Check data type

In [9]:
df.dtypes

hours_studied         float64
sleep_hours           float64
attendance_percent    float64
previous_scores         int64
exam_score            float64
dtype: object

#### Identify missing values

In [10]:
df.isna().sum()

hours_studied         0
sleep_hours           0
attendance_percent    0
previous_scores       0
exam_score            0
dtype: int64

### Summary

In [11]:
summary = df.describe().to_string()

with open("../Reports/eda_summary.txt", "w") as f:
    f.write(summary)

print("EDA completed. Plots and summary saved in /Reports.")

EDA completed. Plots and summary saved in /Reports.